<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.ParkingSpaceDao">

    <resultMap id="parkingSpaceMap" type="ParkingSpace">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="isEnable" column="is_enable"/>
    </resultMap>

    <!--把需要查询的字段写成公用列-->
    <sql id="base_column">
        id,status,is_enable
    </sql>

    <!-- 搜素所有未逻辑删除的parkingSpace-->
    <select id="listAll" resultMap="parkingSpaceMap">
        select
        <include refid="base_column" />
        from
        parking_space
    </select>

    <!-- 根据 id 查询未被逻辑删除对象 -->
    <select id="getNoDeletedObj" parameterType="Long" resultMap="parkingSpaceMap">
        select
        <include refid="base_column" />
        from
        parking_space
        where
        id=#{id} and
        is_enable = 0;
    </select>


    <!-- 新增 ParkingSpace  -->
    <insert id="insert" parameterType="ParkingSpace">
        insert into
        parking_space (status,is_enable)
        values
        (
        #{status},#{isEnable}
        )
        <selectKey resultType="long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--搜素查询 Servant 当前页结果列表-->
    <select id="searchPage" parameterType="com.test.vo.searcher.ParkingSpaceManagePageSearcher"  resultMap="parkingSpaceMap">
        select
        <include refid="base_column" />
        from
        parking_space
        <where>
            1 = 1

            <if test="id != null" >
                and id like CONCAT('%',#{id},'%')
            </if>

            <if test="status != null" >
                and status like CONCAT('%',#{status},'%')
            </if>

            <if test="isEnable != null" >
                and is_enable like CONCAT('%',#{isEnable},'%')
            </if>

        </where>
    </select>

    <!-- 获取 ParkingSpace 数量 -->
    <select id="getParkInfoAmount" parameterType="java.lang.String" resultType="java.util.Map">
        select
        count(*) "parkAmount"
        from
        parking_space
        where
        status = #{0}
    </select>

    <!-- 获取 ParkingSpace 信息 -->
    <select id="getParkInfo" parameterType="java.lang.String" resultMap="parkingSpaceMap">
        select
        *
        from
        parking_space
        where
        status = #{0}
    </select>

    <!-- 更新 ParkingSpace  -->
    <update id="update" parameterType="ParkingSpace">
        update
        parking_space
        set
        status = #{status}
        where
        id = #{id}
    </update>

</mapper>